/* * {
  outline: 1px dotted orange;
}   */

html, body {
  margin: 0;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}