.Header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  text-align: center;
  background-color: #ff00513d;
  background: linear-gradient(#ff00513d, #ffffff00);
  min-height: 10vh;
  padding: 2vmin 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.App-logo {
  height: 5vmin;
  min-height: 2em;
  vertical-align: middle; 
}



.App-link {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #09d3ac;
  border-radius: 5px;
}
.Header-link:hover {
  background: #ff0050;
  color: #282c34;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  color: white;
  text-shadow: 0 0 4px white;
  align-content: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .Header h1 div {
    display: inline-flex;
  }
}